body {
  background-color: #fff6ea;
  font-family: 'Segoe UI', sans-serif;
  margin: 20px;
}

h1 {
  color: #9b1d30;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.malla-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.anio {
  border: 2px solid #9b1d30;
  border-radius: 20px;
  padding: 20px;
  width: 22%;
  min-width: 280px;
  background-color: white;
}

.anio h2 {
  color: #9b1d30;
  text-align: center;
}

.cuatrimestre h3 {
  color: #c97a8d;
  font-size: 1.2em;
  margin-top: 10px;
}

.materia {
  background-color: #f4c5cc;
  padding: 8px;
  margin: 5px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.materia:hover {
  opacity: 0.8;
}

.materia.aprobada {
  background-color: #722410;
  color: white;
  text-decoration: line-through;
}
