body {
  font-family: Arial, sans-serif;
  background-color: #fff6ea;
  color: #333;
  padding: 20px;
  margin: 0;
}

h1 {
  color: #9b1d30; /* color cherry para el título */
  text-align: center;
  margin-bottom: 40px;
}

.grid-malla {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
}

.anio {
  background-color: white;
  border: 2px dashed #f4c5cc;
  border-radius: 20px;
  padding: 20px;
  min-width: 250px;
}

.anio h2 {
  color: #9b1d30;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.cuatrimestre {
  margin-bottom: 20px;
}

.cuatrimestre h3 {
  color: #b3596d; /* más fuerte que #f4c5cc */
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.materia {
  background-color: #f4c5cc;
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease;
}

.materia:hover {
  background-color: #f7b6c3;
}

.materia.aprobada {
  background-color: #722410;
  text-decoration: line-through;
  color: white;
}
